.info{
    /*background-color: #EAF1EB;*/
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 210px;
    margin-right: 90px;
}

.content{
    margin-left: 20px;
    font-size: 18px;
}

.content2-heading{
    margin-bottom: 30px;
    text-align: center;
}
.content2{
    font-size: 18px;
    margin-left: 20px;
}

